@charset "UTF-8";
/*전체 CSS 적용부분  */
.wrap{
	margin: 0 auto;
	width: 1080px;
	height: 100vh;
}

.main-content {
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	/* display: flex;
	flex-direction: column; */
}
/* body, td, select, div, textarea, center {
	color: #202020;
	font-size: 14px;
} */
/* 테이블 상세 css 적용부분 */
.subtitle {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;

}

.subtitle th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
/*   color: #369;
 */  border-bottom: 3px solid #036;
  background-color: red;
}

.subtitle th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

.subtitle td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

/*css가 먹지를 않는다. css는 나중에 하자.*/